<h1>Login</h1>


<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Log in" %>
  </p>

  <% end %>

<%= link_to 'signup', signup_path %>
<%= link_to 'Home', articles_path %>
