<% if @user.errors.any? %>
 <h2>The following errors prevented the user from saving:</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <%= link_to 'login', login_path %>

  <%= link_to 'Home', articles_path %>

<% end %>